
/EF_Code_First/obj
/EF_Code_First/bin
/Repository/obj
/Repository/bin
/Entities/obj
/Contracts/bin
/Contracts/obj
/.vs/EF_Code_First/DesignTimeBuild/.dtbcache
/.vs/EF_Code_First/v15/.suo
/.vs/EF_Code_First/v15/Server/sqlite3/db.lock
/.vs/EF_Code_First/v15/Server/sqlite3/storage.ide
/.vs/EF_Code_First/v15/Server/sqlite3/storage.ide-shm
/.vs/EF_Code_First/v15/Server/sqlite3/storage.ide-wal
/.vs/EF_Code_First/v16/.suo
/.vs/EF_Code_First/v16/Server/sqlite3/db.lock
/.vs/EF_Code_First/v16/Server/sqlite3/storage.ide
/.vs/EF_Code_First/v16/Server/sqlite3/storage.ide-shm
/.vs/EF_Code_First/v16/Server/sqlite3/storage.ide-wal
